.navbar {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  i {
    color: black;
    font-size: 28px;
  }
}

.link-gray {
  color: lightgray;
  font-weight: 400;
}
